$main-color: #2d2d2d;

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

a {
  color: #8e8e8e;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}
.section {
  margin-bottom: 30px;
  color: $main-color;
}

.about, .locations-list, .footer-content {
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}